<hr class="mt-0 mb-4" />
<footer class="pb-5">
  <div class="d-flex justify-content-center pb-2">
    <ul class="nav mx-auto my-0 p-0">
      <li class="nav-item m-0 py-0 px-2">
        <a href="mailto:kevin@velexi.com" title="Email"><img src="{{ site.images_path }}/footer/envelope.svg"></a>
      </li>
      <li class="nav-item m-0 py-0 px-2">
        <a href="https://www.linkedin.com/in/kevin-chu" title="LinkedIn"><img src="{{ site.images_path }}/footer/linkedin.svg"></a>
      </li>
      <li class="nav-item m-0 py-0 px-2">
        <a href="https://www.github.com/ktchu" title="GitHub"><img src="{{ site.images_path }}/footer/github.svg"></a>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-center">
    <div>Last Updated: {{ site.data.last-updated.date }}</div>
  </div>
</footer>
